source https://api.nuget.org/v3/index.json

nuget Microsoft.AspNetCore.OpenApi
nuget OpenTelemetry
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol
nuget OpenTelemetry.Exporter.Console
nuget OpenTelemetry.Instrumentation.Http
nuget OpenTelemetry.Instrumentation.AspNetCore
nuget OpenTelemetry.Instrumentation.Runtime
nuget OpenTelemetry.Instrumentation.Process
nuget OpenTelemetry.Extensions.Hosting
nuget Microsoft.Extensions.Telemetry.Abstractions
nuget Microsoft.Data.Sqlite
nuget Dapper


group tests
source https://api.nuget.org/v3/index.json

nuget coverlet.collector
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.AspNetCore.Mvc.Testing